.searchForm {
  display: flex;
  border-bottom: 1px solid;
  border-bottom-color: var(--primary-color);
  width: 30%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .searchForm {
    width: 80%;
  }
}

.searchInput {
  all: unset;

  font-size: 16px;
  color: var(--primary-color);
  padding: 0 2px 2px 0;
  text-overflow: ellipsis;
  width: 100%;
}

.send {
  all: unset;
  cursor: pointer;
}